/* 
    Document   : sbApostropheExtraSlotsPlugin.css
    Created on : Jan 20, 2012, 12:00:44 PM
    Author     : Giles Smith <tech@superrb.com>
    Description:
        Default Styles for sbApostropheExtraSlotsPlugin
*/
