/* 
    Document   : sbApostropheExtraSlotsPlugin.css
    Created on : Jan 20, 2012, 12:00:44 PM
    Author     : Giles Smith <tech@superrb.com>
    Description:
        Default Styles for sbApostropheExtraSlotsPlugin
*/

.a-ui .a-btn.sbapostrophejqueryuitabbedcontent.icon > .icon, .a-ui.a-btn.sbapostrophejqueryuitabbedcontent.icon > .icon {
	background-image: url('../images/slot-tabbed-content-icon.png');
	background-position: top right;
}

.a-ui .a-btn.sbapostrophefaq.icon > .icon, .a-ui.a-btn.sbapostrophefaq.icon > .icon {
	background-image: url('../images/slot-faq-icon.png');
	background-position: top right;
}